body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
}

nav {
    background-color: #555;
    padding: .5em;}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 0.5em 1em;
    margin: 0 0.5em;
    border-radius: 4px;
    background-color: #777;
}

nav a:hover {
    background-color: #999;
}

main {
    padding: 2em;
}

@font-face{ 
font-family: Meowcat Regular;
src: url(Meowcat-rgmlK.ttf)
}

h1 {
font-family: Meowcat Regular;
color : pink; 
font-size : 100px ;
align-self: center;
opacity:1;
font-weight: bold;
}
h2 {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(255, 162, 178);
    font-size : 40px;
    text-align: center;
}
