body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    opacity:100%
}

header {
    background-color: #801c38;
    color: #fff;
    text-align: center;
    padding: 1em;
}

nav {
    background-color: #a93b5a;
    padding: .5em;
    margin:0 auto;
    list-style: none;
}
nav li{
    float:left;
}
nav a {
    color: #000000;
    text-decoration: none;
    padding: 0.5em 1em;
    margin: 0 0.5em;
    border-radius: 4px;
    background-color: #e15e83; 
    display:block;
    text-align: center;
    width: auto;

}

nav a:hover {
    background-color: rgb(239, 102, 148);
}

main {
    padding: 2em;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

@font-face{ 
font-family: Meowcat Regular;
src: url(Meowcat-rgmlK.ttf)
}

h1 {
font-family: Meowcat Regular;
color : pink; 
font-size : 100px ;
align-self: center;
opacity:1;
font-weight: bold;
}
h2 {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(117, 3, 22);
    font-size : 40px;
    text-align: center;
}


.opening_hours * {
    background-color: #e15e83;
    text-align: left;
    line-height: 120%;
    width: 25%;
    padding-bottom: 1%;
    padding-left: 1%;

}

.info * {
    background-color: #a93b5a;
    text-align: center;
    line-height: 80%;
    
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.site-footer {
    background-color: #a93b5a;
    text-align: center;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #e15e83;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;   
    margin-bottom: 16px;
    resize: vertical;
}

input[type=Send] {
    background-color: #a93b5a;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=Send]:hover {
    background-color: #e15e83;
}

.containter {
    border-radius: 5px;
    background-color: #e15e83;
    padding: 20px;
}
.paw1{
    position:absolute;
    left:16%;
    top:21%;
    height: 32px;
    width: 32px;
}
.paw2{
    position:absolute;
    right:16%;
    top:21%;
    height: 32px;
    width: 32px;
}
.paw3{
    position:absolute;
    left:37%;
    top:21%;
    height: 32px;
    width: 32px;
}
.paw4{
    position:absolute;
    right:37%;
    top:21%;
    height: 32px;
    width: 32px;
}
.paw5{
    position:absolute;
    left:33%;
    top:21%;
    height: 32px;
    width: 32px;

}
.paw6{
    position:absolute;
    right:33%;
    top:21%;
    height: 32px;
    width: 32px;
}
.paw7{
    position:absolute;
    left:35%;
    top:21%;
    height: 32px;
    width: 32px;
}
.paw8{
    position:absolute;
    right:35%;
    top:21%;
    height: 32px;
    width: 32px;
}